<config>
    <modules>
        <Ecommistry_ProductList>
            <version>1.0.0</version>
        </Ecommistry_ProductList>
    </modules>
    <global>
        <helpers>
            <ecommproductlist>
                <class>Ecommistry_ProductList_Helper</class>
            </ecommproductlist>
        </helpers>
        <blocks>
            <ecommproductlist>
                <class>Ecommistry_ProductList_Block</class>
            </ecommproductlist>
        </blocks>
        <resources>
            <ecommproductlist_setup>
                <setup>
                    <module>Ecommistry_ProductList</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </ecommproductlist_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ecommproductlist>
                <use>standard</use>
                <args>
                    <module>Ecommistry_ProductList</module>
                    <frontName>productlist</frontName>
                </args>
            </ecommproductlist>
        </routers>
        <translate>
            <modules>
                <Ecommistry_ProductList>
                    <files>
                        <default>Ecommistry_ProductList.csv</default>
                    </files>
                </Ecommistry_ProductList>
            </modules>
        </translate>
        <layout>
            <updates>
                <ecommproductlist>
                    <file>ecommproductlist.xml</file>
                </ecommproductlist>
            </updates>
        </layout>
    </frontend>
</config>